* {
    margin: 0;
    padding: 0;
}

header {
    text-align:center;
    text-indent: 200px; 
    background-color: #1520A6;
    color: white;
}

#search {
    font-size: 30px;
    font-weight: bold;
}

.input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    color:gray;
    text-indent: 5px;
}

.button { 
    width: 250px;
    height: 25px;
    border-radius: 5px;
    background-color: lightskyblue;
}

.button:hover {
    
}

#city {
    text-align: center;
}

#weekCast {
    text-align: center;
}