* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    text-align:center;
    text-indent: 200px; 
    background-color: #1520A6;
    color: white;
}

#search {
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
}

#input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    color:gray;
    text-indent: 5px;
}

#currentCast {
    font-size: 35px;
    font-weight: bold;
}

#button { 
    width: 250px;
    height: 35px;
    border-radius: 5px;
    background-color: lightskyblue;
    color: white;
    font-size: 20px;
}

.button:active {
    transform: scale(0.95,0.95);
    color: #1520A6;
}

#city {
    display: inline-block;
    text-align:left;
    width: 800px;
    height: 150px;
    border: 1px solid #ccc;
    position: relative;
    left: 300px;
    bottom: 80px;
    line-height: 35px;
    padding: 10px;
}

#weekCast {
    text-align: center;
}

/* .container {
    margin: 10px;
    margin-left: 20px;
}

.col {
    margin: 40px;
}
 */